/*  ==========================================================================
    global styles
    ========================================================================== */
    body {
        -webkit-text-size-adjust: 100%; background-color:white;
    }
    @font-face {
        font-family: 'MuseoSans';
        src: url('museosans-100-webfont.eot');
        src: url('museosans-100-webfont.eot?#iefix') format('embedded-opentype'),
             url('museosans-100-webfont.woff') format('woff'),
             url('museosans-100-webfont.svg#museo_sans100') format('svg'),
             url('museosans-100-webfont.ttf') format('truetype');
        font-weight: 100;
        font-style: normal;
    }

    /*  ==========================================================================
    helper classes
    ========================================================================== */
    .clearfix:before,
    .clearfix:after {
        content: ' ';
        display: table;
    }
    .clearfix:after {
        clear: both;
    }

    /*  ==========================================================================
    c6-careers classes
    ========================================================================== */
    /* header classes */
    .mainNav__group {
        /*background: center 100% repeat-y url(../img/grid.png) #eee;*/
        background-color:#eee;
        border-bottom:0.125rem solid #c6c6c6; height:6rem; 
        position:absolute; top:0; left:0; right:0;
    }
        .mainNav__container{
            position:absolute; left:25%; right:25%;
        }
            .c6logo {
                width:183px; height:44px; margin:1.75rem;
            }
            .mainNav__link {
                float:right; margin:2.625rem 1.5rem 2.75rem 3.875rem;
                color:#626262; font-size:1em;
                font-family: 'MuseoSans', Arial, Helvetica, sans-serif; font-weight:500;
                text-decoration: none;
            }
                .mainNav__link:hover {
                    color:#2074c9;
                }
                #mainNav__currentPage {
                    border-bottom:0.0625rem solid #2074c9;
                }

    /* content classes */
    .content__group {
        position:absolute; top:9.5625rem; left:0; right:0;  
        font-family: 'MuseoSans', Arial, Helvetica, sans-serif; font-weight:100; font-size:1em;
        text-align: center;
    }
        .content__container{
        position:absolute; left:25%; right:25%;
        }
            .content__title {
                font-weight:500; font-size:1.75em; color:#626262; 
                padding:0 0.5em; margin-bottom:1em;
            }
            .content__copy {
                font-size:1em; color:#626262; line-height:1.75em; 
                padding:0 0.5em; margin-bottom:3.5em;
            }
            .content__jobTitles {
                list-style: none; line-height:1.75em; color:#2074c9;
                padding:0;
            }
                .jobTitles__link:hover {
                    text-decoration:underline;
                }

    /*  header and content media queries */
    @media screen and (min-width: 1500px) and (max-width: 1800px) {
        .mainNav__container, .content__container {
            left:12%; right:12%;
        }
    }
    @media screen and (min-width: 800px) and (max-width: 1499px) {
        .mainNav__container {
            left:5%; right:5%;
        }
        .content__container {
            left:5%; right:5%; padding:0 1em;
        }
    }

    @media screen and (min-width: 404px) and (max-width: 799px) {
        .mainNav__container {
            left:0; right:0;
        }
            .mainNav__link {
                margin:2.625rem 1rem 2.75rem 0.875rem;
            }
        .content__container{
            left:0; right:0; padding:0 0.25em;
            }
    }
    @media screen and (max-width: 403px) {
        .mainNav__group {
            height:10.25rem;
        }
            .c6logo {
                margin:1.75rem 0rem 0rem 0rem;
            }
                .mainNav__link {
                    margin:1.625rem 0.5rem 0rem 0.5rem;
                }
            .content__title {
                margin-top:4.25em;
            }
    }

    /* footer classes */
    .footer__group {
         /*background: center 100% repeat-y url(../img/grid.png) #fff;*/
        background-color:#eee; border-top: 0.125rem solid #c6c6c6; /* 1em */
        margin:24.875rem 0 0 0; padding:2.25rem 19.25%; line-height:1.5rem; /* line-height:24px */
        font-family: 'MuseoSans', Arial, Helvetica, sans-serif;
        position:absolute; bottom:0;
    }
        .footer__container {
           max-width:100rem; width:100%; margin-left:8%;
        }
            .footer__siteMap {
                width:25%; min-width:9rem; margin:0 5% 4rem 0; padding:0; float:left; /*background-color:pink;*/
            }
            .footer__contact {
                width:25%; min-width:9rem; margin:0 5% 4rem 0; padding:0; float:left; /*background-color:yellow;*/
            }
            .footer__careers {
                width:25%; min-width:9rem; margin:0 5% 4rem 0; padding:0; float:left; /*background-color:lime;*/
            }

                .footer__header {
                    color:#8c8c8c; font-size:1rem; 
                    font-family: 'MuseoSans', Arial, Helvetica, sans-serif; font-weight:300;
                }
                .footer__copy {
                    font-size:1em; /* 14px */ color:#8c8c8c; text-decoration:none; 
                }
                .siteMap__list {
                    padding:0; list-style: none; 
                }
                        .footer__link {
                            color:#4c4c4c; font-size:1em;
                            font-family: 'MuseoSans', Arial, Helvetica, sans-serif; font-weight:500;
                            text-decoration: none;
                        }
                        .footer__link:hover {
                            color:#4c4c4c; text-decoration:underline;
                        }
                            .siteMap__subList {
                                list-style: none; margin-left:1.5rem; font-size:1em;
                            }
                            .siteMap__subList:before {
                                content:"•";
                                color:#c6c6c6;
                            }

            .footer__legalCopy {
                font-size:0.875rem; text-align:center; white-space:nowrap; /*background-color:red;*/
                position:absolute; bottom:0; left:25%; right:25%;
                color:#8c8c8c;
            }

    @media screen and (min-width: 1500px) and (max-width: 1016px) {
        .footer__group {
            margin:12.4375rem 0 0 0;
        }
    }
    @media screen and (min-width: 800px) and (max-width: 1499px) {
        .footer__group{
            padding:2.25rem 5%;
        }
    }
    @media screen and (min-width: 603px) and (max-width: 799px) {
            .footer__siteMap {
               width:40%; margin:0 5% 4rem 5%;
                }
            .footer__contact {
                width:40%; margin:0 5% 4rem 5%;
            }
            .footer__careers {
                width:100%; margin:0 0 4rem 0;
            }
        .footer__legalCopy {
            font-size:0.75rem; line-height:1.5em; left:22%; right:22%;
        }

    }
    @media screen and (max-width: 602px) {
        .footer__group{
            padding:2.25rem 2em; margin-left:0;
        }
            .section__container {
               padding-left:0;
            }
                .footer__siteMap {
                   width:100%; margin:0 0 4rem 0;
                    }
                .footer__contact {
                    width:100%; margin:0rem 0 4rem 0; 
                }
                .footer__careers {
                    width:100%; margin:0rem 0 4rem 0; 
                }
            .footer__legalCopy {
                font-size:0.75rem; line-height:1.5em; left:25%; right:25%;
            }
    }
    @media screen and (max-width: 470px) {
        .footer__group {
            margin:12.4375rem 0;
        }
        .footer__legalCopy {
            font-size:0.75rem; line-height:1.5em; margin-top:1rem; white-space:normal;
            left:5%; right:5%;
        }
    }